<nav>
    <header>
        <div class="items">
            <lucide-icon [img]="Menu" (click)="toggleMenu()" class="my-icon menu" name="menu"></lucide-icon>
            <lucide-angular [img]="Search" name="search" class="my-icon-search"></lucide-angular>
        </div>
        <h2>47 Street</h2>
        <div class="items">
            <lucide-angular [img]="User" class="my-icon"></lucide-angular>
            <lucide-angular [img]="ShoppingBag" class="my-icon" name="shopping-bag"></lucide-angular>
        </div>
    </header>

    <!-- Agregar clase 'show' cuando menuOpen sea true -->
    <!-- NAV LINKS  -->
    <div class="nav-links" [class.show]="menuOpen">
        <div class="nav-top">
            <ul class="list" [class.show]="menuOpen">
                <li>Anticipo AW25</li>
                <li>FINAL SALE</li>
                <li>Back To School</li>
                <li>Mich</li>
                <li>Calzado</li>
                <li>Licencias</li>
                <li>Gift Cards</li>
                <li>Accesorios</li>
                <li>47 Club</li>
            </ul>
            <div>
                <lucide-icon [class.show]="menuOpen" [img]="X" name="x" (click)="toggleMenu()" class="x my-icon menu"
                    name="menu"></lucide-icon>
            </div>
        </div>
        <div class="nav-bottom" [class.show]="menuOpen">
            <div class="nav-mid">
                <span>
                    <a href="">Mi cuenta</a>
                    <lucide-angular size={{32}} [img]="User" color="red" class="my-icon"></lucide-angular>
                </span>

                <span>
                    <a href="">Dudas</a>
                    <lucide-icon size={{32}} [img]="MessageSquareMore" name="message-square-more"></lucide-icon>
                </span>

                <span>
                    <a href="">Locales</a>
                    <lucide-icon size={{32}} [img]="MapPin" class="my-icon" name="map-pin"></lucide-icon>
                </span>
            </div>

            <div class="social-media" [class.show]="menuOpen">
                <span>
                    <lucide-icon name="instagram" size={{32}} [img]="Instagram"></lucide-icon>
                </span>
                <span>
                    <lucide-icon name="facebook" [img]="Facebook" size={{32}}></lucide-icon>
                </span>
                <span>
                    <lucide-icon name="twitter" [img]="Twitter"  size={{32}}></lucide-icon>
                </span>
            </div>
        </div>
    </div>
</nav>



<app-footer></app-footer>

